@import 'tailwindcss';

@source "../../packages/ui/src/**/*.{js,ts,jsx,tsx}";

@theme {
  --font-sans:
    'Pretendard', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
}

@plugin "daisyui" {
  root: ':root';
  logs: true;
  themes: light --default;
}
